<h1>Follower Users</h1>

<ul>
    <% if @followers.count == 0 %>
      ユーザーがいません。
    <% else %>
      <% @followers.each do |follower| %>
        <%= image_tag follower.get_profile_image, size:'100x100' %>
        <p>フォロー数：<% follower.user.following.count %></p>
        <p>フォロワー数：<%= follower.followers.count %></p>
      <%= link_to "Show", follower.name, follower %>
    <% end %>
  <% end %>
</ul>